@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}

*{
    padding:0;
    margin:0;
}
nav{
    display: flex;
    gap: 300px;
    position:fixed;
    background-color:#071B35;
    width:100%;
    top: 0;
    justify-content: center;
    align-items: center;
    
}

ul{
    display: flex;
    list-style-type: none;
    margin-left: 60px;
    padding: 15px;
   
}
ul li a{
    padding:8px 16px;
    text-decoration: none;
    display: block;
    /* margin-top: 20px; */
    text-align: center;
    font-size: 17px;
    color:white;
    
}
footer{
    background-color:#071B35;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    height: 180px;
}
.ftt h3,.ftt p{
color:white;
}
.copy{
    color:white;
}
.hero{
    display:flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.hero1{
    padding:25px;
}
.hero1 h2{
    font-size: 37px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.founder{
    width: 520px;
    height: 470px;
    border-radius: 25px;
    /* margin-top: 20px; */
}
.hero2{
    padding:25px;
    margin-left: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.hero2 p{
    font-size: 18px;
    margin-top: 15px;
    border:2px solid #B91010;
    border-radius: 13px;
    padding:13px;
}
.head{
     width: 520px;
    height: 400px;
    border-radius: 25px;
}
.kids{
     width: 475px;
    height: 387px;
    border-radius: 25px;
}
    @media screen and (min-width:300px) and (max-width:780px) {
   nav{
    width:100%;
   }
   ul{
    /* /* display: flex;
    list-style-type: none; */
    margin-left: 30px;
    padding: 5px;
   }
   .hero{
    display:flex;
    flex-wrap: wrap;
    margin-top: 28px;
    justify-content: center;
    align-items: center;
}
.hero1{
    padding:10px;
}
.hero1 h2{
    font-size: 23px;
}
.founder{
    width: 350px;
    height: 250px;
    border-radius: 20px;
    /* margin-top: 20px; */
}

.kids{
    width: 350px;
    height: 250px;
    border-radius: 20px;
    /* margin-top: 20px; */
}
.head{
    width: 350px;
    height: 250px;
    border-radius: 20px;
    /* margin-top: 20px; */
}
footer{
    background-color:#071B35;
    display: block;
    justify-content:center;
    align-items: center;
    margin-top: 40px;
    width: fit-content;
    height:150px;
    gap: 5px;
    width:100%;



}

.ftt h3,.ftt p,.copy{
color:white;
font-size: 12px;
text-align: center;

}
}
 @media screen and (min-width:800px) and (max-width:1200px) {
    .hero{
    display:flex;
    flex-wrap: wrap;
    margin-top: 28px;
    justify-content: center;
    align-items: center;
}
.hero1 h2{
    margin-top: 60px;
}
.founder{
    width: 750px;
    height: 650px;
    border-radius: 20px;
    /* margin-top: 20px; */
}
.kids{
    width: 750px;
    height: 650px;
    border-radius: 20px;
    /* margin-top: 20px; */
}
.head{
    width: 750px;
    height: 650px;
    border-radius: 20px;
    /* margin-top: 20px; */
}
footer{
    background-color:#071B35;
    display: block;
    justify-content:center;
    align-items: center;
    margin-top: 40px;
    width: fit-content;
    height:150px;
    gap: 5px;
    width:100%;



}

.ftt h3,.ftt p,.copy{
color:white;
font-size: 12px;
text-align: center;

}
 }
  @media screen and (min-width:760px) and (max-width:1200px) {
.founder{
    width: 700px;
    height: 600px;
    border-radius: 20px;
    /* margin-top: 20px; */
}
.kids{
    width: 700px;
    height: 600px;
    border-radius: 20px;
    /* margin-top: 20px; */
}
.head{
    width: 700px;
    height: 600px;
    border-radius: 20px;
    /* margin-top: 20px; */
}
  }