* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
      display: flex;
   justify-content: space-between;
   align-items: center;
    position:fixed;
    background-color:#071B35;
    width:100%;
    top: 0;
    padding: 3px;
    z-index: 1;  
}
.logo{
    width: 100px;
    height:80px;
    margin-left: 80px;
    object-fit: cover;
}
#menuBtn {
    padding: 10px;
    cursor:pointer;
    font-weight: bold;
    display: none
}
.another{
    margin-right: 200px;
}

ul{
    display: flex;
    list-style-type: none;
    /* padding: 15px; */
   justify-content: center;
   align-items: center;
}
ul li a{
    padding:8px 16px;
    text-decoration: none;
    display: block;
    /* margin-top: 20px; */
    text-align: center;
    font-size: 17px;
    color:white;  
}
#menuBtn {
    padding: 10px;
    font-weight: bold;
    display: none
}
.hero{
    display:flex;
    background: linear-gradient(rgba(239, 212, 79, 0.253), rgba(0, 0, 0, 0.6)), url("./img/pupil1.avif");
    background-size: cover;
    /* height:100vh; */
    margin-top: 70px;
}
.exc{
    width:50%;
    margin-left: 75px;
}
.excl{
    color:white;
    background-color: #D4AF37;
    padding-left:15px;
    padding-right:18px;
    font-size: 19px;
border-radius: 25px;
width:230px;
margin-top:50px;
margin-bottom:25px;
padding: 10px 20px;
    }
    
h2{
    color:white;
    font-size: 63px;
    margin-top: 13px;
    margin-bottom: 20px;
    line-height: 1.2;
}
span{
    color: #D4AF37;
}
.inter{
    color:white;
    font-size: 20px;
    
    
}


.hero1{
    margin-top: 50px;
    width: 38%;
    border: 2px solid rgba(255, 255, 255, 0.119);
    backdrop-filter: blur(15px); 
    border-radius: 20px;
    height: fit-content;
    padding: 40px;
    margin: 20px
}
.hero1 h2{
    font-size: 40px;
    color: white;
    margin-top: 10px;
}
.hero1 p{
    font-size: 20px;
    color: white;
      margin-top: 10px;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.053);
    margin-top: 35px;
    margin-bottom: 35px;
}
.admission-update{
    display: flex;
    justify-content: space-between;
}
.years h2{
    font-size: 40px;
    color: #D4AF37;
      margin-top: 10px;
}
.start{
    display: flex;
    background-color:#198754;
    color:white;
    padding: 12px 22px;
    border-radius: 9px;
    border: none;
    font-size: 15px;
      margin-top: 15px;
      width: 100%;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      
     
}
.second{
    background-color: #ffffffba;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
.second1{
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-top: 20px;
    width: 280px;
    height: 250px;
     box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
    

.graduation{
    height: 67px;
    width: 67px;
    margin-top: 23px;
    margin-left: 100px;
    padding: 10px;
   
}

.fa-solid{
    font-size: 40px;
   margin-top: 23px;
    margin-left: 12px;
    padding: 10px;
    color:#D4AF37;
   
}
.graduation1 h2{
    font-size: 40px;
    color: #0D3B66;
    margin-top: 5px;
    margin-left: 110px;
}
.graduation1 p{
  font-size: 20px;
    color: black;
    margin-top: 10px;
    margin-left: 52px;
    
}
.student{
    text-align: center;
    margin-right: 30px;
}
.teacher{
    text-align: center;
    margin-right: 30px;
}
.third{
    display:flex;
    margin-top: 50px;
    /* margin-left: 30px; */
    gap: 30px;
    background-color: #F8FAFC;
    justify-content: center;
    align-items: center;
    
}
.pupil{
    width: 440px;
    height: 380px;
    border-radius: 20px;
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 20px;
    align-items: center;
    
}
.welcome-title{
    color: black;
    font-size: 40px;
}
.welcome p{
    font-size: 17px;
    margin-top: 20px;
}
.read{
    margin-top: 20px;
    margin-left: 40px;
    color:white;
    background-color: green;
    padding:10px 20px;
    border:none;
    font-size: 17px;
    border-radius: 25px;
    cursor: pointer;
}
.read:hover{
    color:whitesmoke;
    background-color: green;
    transform: scale(1.1);
    transition: 0.3s ease-in-out;  
}
.fourth{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 18px;
    margin-right: 18px;
}
.mission{
    width: 350px;
    height: 350px;
    /* padding:50px; */
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.mission h3{
    text-align: center;
font-size: 28px;
padding:7px;
}
.mission p{
    text-align: center;
    font-size: 16px;
    padding:13px;
}
footer{
    background-color:#071B35;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    height: 180px;
}
.ftt h3,.ftt p{
color:white;
}
.fttt h3,.fttt p{
color:white;
}
.copy{
    color:white;
}


@media screen and (min-width:1210px) and (max-width:1280px) {
    .fourth{
        gap:20px;
    }
}
@media screen and (min-width:1114px) and (max-width:1200px) {
    .hero{
        padding-top: 15px;
    }
    .inter{
        font-size:18px;
    }
   
   .second1{
width:260px;
height:240px;
   }
   .fourth{
    gap:20px;
   }
   .mission{
    height:370px;
   }
}

@media screen and (min-width:832px) and (max-width:1113px) {
    .hero{
    display:flex;
    flex-direction: column;
    margin-top: 50px;
} 
  .exc{
    width:100%;
    margin-left: 10px;
    padding-top: 15px;
}
.excl{
    font-size: 18px;
    
}
.springwell{
    font-size: 45px;
    padding: 13px;
}
.inter{
 font-size: 18px;
 padding:18px;
}
 .hero1{
        width:fit-content;
        
    }
    .second{
    background-color: #ffffffba;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
.second1{
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-top: 20px;
    width: 330px;
    height: 250px;
     
}
.third{
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;
    /* margin-left: 30px; */
    gap: 25px;
    background-color: #F8FAFC;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
  }
  .pupil{
    width: 650px;
    height: 600px;
    border-radius: 20px;
     align-items: center;
    
}
.welcome-title{
    padding: 13px;
    
}
.at{
    padding:20px;
    
    
}
.fourth{
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:20px;
    
}
footer{
    background-color:#071B35;
    display: block;
    justify-content:center;
    align-items: center;
    margin-top: 40px;
    width: fit-content;
    height:150px;
    gap: 5px;
    width:100%;



}
.ftt h3,.ftt p,.copy{
color:white;
font-size: 12px;
text-align: center;

}
}



@media screen and (min-width:761px) and (max-width:830px) {
    .hero{
    display:flex;
    flex-direction: column;
    margin-top: 50px;
}
.exc{
    width:100%;
    margin-left: 10px;
    padding-top: 15px;
}
.excl{
    font-size: 18px;
    
}
.springwell{
    font-size: 45px;
    padding: 13px;
}
.inter{
 font-size: 18px;
 padding:18px;
}
    .hero1{
        width:fit-content;
        
    }
    .second{
    background-color: #ffffffba;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
.second1{
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-top: 20px;
    width: 330px;
    height: 250px;
     
}
  .third{
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;
    /* margin-left: 30px; */
    gap: 25px;
    background-color: #F8FAFC;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
  }
  .pupil{
    width: 650px;
    height: 600px;
    border-radius: 20px;
     align-items: center;
    
}
.welcome-title{
    padding: 13px;
}
.at{
    padding:15px;
}
.fourth{
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:20px;
    
}
  
footer{
    background-color:#071B35;
    display: block;
    justify-content:center;
    align-items: center;
    margin-top: 40px;
    width: fit-content;
    height:150px;
    gap: 5px;
    width:100%;



}

.ftt h3,.ftt p,.copy{
color:white;
font-size: 12px;
text-align: center;

}
}
@media screen and (min-width:300px) and (max-width:760px) {
   nav{
    display: flex; 
    justify-content: "space-between"!important;
    width:100%;
    padding: 15px;
   }
   .logo {
    width: 60px;
    height: 60px;
    margin-left: 0px;
   }
   .another {
    margin-right: 0px;
   }
   .menu-items {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    height: 23vh;
    top: 90px;
    right: 0;
    bottom: 0px;
    width: 100%
   }
   .menu-items.active {
   display: block;
   }
   ul{
    /* /* display: flex;
    list-style-type: none; */
    margin-left: 30px;
    padding: 5px;
   
}

.hero{
    display:flex;
    flex-direction: column;
    background: linear-gradient(rgba(239, 212, 79, 0.253), rgba(0, 0, 0, 0.6)), url("./img/pupil1.avif");
    background-size: cover;
    /* width:500px;
    height:500px; */
    margin-top: 50px;
}
.exc{
    width:fit-content;
    margin-left: 20px;
}
.excl{
    color:white;
    background-color: #D4AF37;
    /* padding-left:3px;
    padding-right:3px; */
    font-size: 10px;
border-radius: 15px;
width:150px;
/* margin-top:8px; */
margin-bottom:5px;
padding: 5px 8px;
text-align: center;
    }
    h2{
    color:white;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 16px;
    
}
.inter{
    color:white;
    font-size: 15px; 
}

.hero1{
    margin-top: 50px;
    width: fit-content;
    border: 2px solid rgba(255, 255, 255, 0.119);
    backdrop-filter: blur(15px); 
    border-radius: 16px;
    height:300px;
    padding: 20px;
    margin: 20px
}
.hero1 h2{
    font-size: 25px;
    color: white;
    margin-top: 5px;
}
.hero1 p{
    font-size: 15px;
    color: white;
      margin-top: 5px;
}
hr{
    border: 1px solid rgba(255, 255, 255, 0.053);
    margin-top: 15px;
    margin-bottom: 15px;
}
.second{
    background-color: #ffffffba;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
.second1{
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-top: 20px;
    width: 330px;
    height: 250px;
     box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.graduation1 h2{
    font-size: 40px;
    color: #0D3B66;
    margin-top: 5px;
    margin-left: 140px;
}
.graduation1 p{
  font-size: 20px;
    color: black;
    margin-top: 10px;
   text-align: center;
}

.third{
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;
    /* margin-left: 30px; */
    gap: 25px;
    background-color: #F8FAFC;
    justify-content: center;
    align-items: center;
    
}
.pupil{
    width: 350px;
    height: 250px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 13px;
    margin-left: 13px;
    align-items: center;
    
}
.welcome-title{
    color: black;
    font-size: 28px;
    text-align: center;
}
.welcome p{
    font-size: 16px;
    margin-top: 6px;
   margin-left: 10px;
    padding: 13px;
}
.read{
    margin-top: 10px;
    margin-left: 40px;
    color:white;
    background-color: green;
    padding:7px 15px;
    border:none;
    font-size: 15px;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 15px;

}
.fourth{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 18px;
    margin-right: 18px;
    gap: 25px;
}
.mission{
    width: 350px;
    height: 320px;
    /* padding:50px; */
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    margin-left: 10px;
    margin-right: 10px;
}
footer{
    background-color:#071B35;
    display: block;
    justify-content:center;
    align-items: center;
    margin-top: 40px;
    width: fit-content;
    height:150px;
    gap: 5px;
    width:100%;



}
#menuBtn {
    display: block
}
.ftt h3,.ftt p,.copy{
color:white;
font-size: 12px;
text-align: center;

}
}